* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.student {
    border-style: solid; 
    border-width: 1px; 
    padding: 5px;
    list-style: none;
    margin-bottom: 5px;
}

.blue {
    border-color: blue;    
}

.red {
    border-color: red;   
}